<h1>This is index</h1>
<p>If you want to read, click the title!</p>


<form accept-charset="utf-8" action="" method="post" >
<div style="margin:0;padding:0">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
	<input name="download" type="submit" value="download" />
</div>
</form>
iiiiii

<form accept-charset="utf-8" action="/make_document/index" method="post" >
<div style="margin:0;padding:0">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
	<input name="change" type="submit" value="replace" />
</div>
</form>
<a link href="<%= @url %>"><%= @url %></a>
<br />
<br />
<h2><%= @content_name %></h2>
<br />
<br />
<h4><%= @content %></h4>
